<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Partial/HeadPartial/MetaTagsPartial");
    @await Html.PartialAsync("Partial/HeadPartial/CssPartial");
</head>
<body>
    <header>
        @await Html.PartialAsync("Partial/BodyPartial/HeaderPartial");
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @await Html.PartialAsync("Partial/BodyPartial/FooterPartial");
    </footer>

    @await Html.PartialAsync("Partial/BodyPartial/ScriptsPartial");
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
